@import "tailwindcss";


@font-face {
  font-family: 'sm00ch';
  src: url('/sm00ch.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div{
  width:100%;
 
 
  
}

.expanding-panel {
  width: 100%;
  height: 90vh;
}