@import "tailwindcss";


@font-face {
  font-family: 'sm00ch';
  src: url('/src/assets/fonts/sm00ch.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'arial5';
  src: url('/src/assets/fonts/Arial5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.font-sm00ch {
  font-family: 'sm00ch', sans-serif;
}

.font-arial5 {
  font-family: 'arial5', sans-serif;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div{
  width:100%;
 
}

.expanding-panel {
  width: 100%;
  height: 90vh;
}